:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --white-color: #ffffff;
  --logo-color: #000000;
  --heroe-footer-color: #2f303a;
  --team-color: #f5f4fa;
  --family-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --icon-color: #757575;
}

body {
  font-family: var(--family-font);
  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0;
  align-items: center;
  margin: 0 auto;
}

.section:nth-child(even) {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*===== COMMON STYLES ====*/
.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.logo-span {
  color: var(--hover-color);
}

.header-nav-logo,
.footer-link-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

/*===== HEADER ====*/

.header-index .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-portfolio .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgba(236, 236, 236, 1);
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-list-item-index:not(:last-child),
.header-list-item-portfolio:not(:last-child) {
  margin-right: 46px;
}

.header-list-item-index:nth-child(1),
.header-list-item-portfolio:nth-child(2) {
  position: relative;
}

.header-list-item-index:nth-child(1)::after,
.header-list-item-portfolio:nth-child(2)::after {
  position: absolute;
  bottom: -32px;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
}

.header-list-item-index,
.header-list-item-portfolio,
.header-list-mail,
.header-list-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.header-list-number {
  margin-left: 50px;
  margin-right: 10px;
}

.header-list-mail,
.header-list-number {
  color: var(--second-color);
}

.header-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-icon {
  margin-right: 10px;
  --icon-color: currentColor;
}

.contact-icon:hover {
  fill: var(--hover-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*====== END HEADER =====*/

/* ===== HEROE =====*/
.heroe {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heroe/heroe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heroe .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.heroe-btn {
  display: flex;
  width: 202px;
  min-height: 50px;
  margin-bottom: 200px;
  padding: 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/* ==== END HEROE =====*/

/* ==== DESCRIPTION ====*/

.description-list {
  display: flex;
  justify-content: space-between;
}

.description-list-item {
  display: inline-block;
  width: 268px;
  min-height: 101px;
  margin-left: 0;
  margin-right: 0;
}

.description-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.description-head-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/* ==== END DESCRIPTION ====*/

/* ==== ABOUT US ====*/

.about-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.about-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-list-item-container {
  position: relative;
}

.about-list-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.about-list-item-container > .about-list-item-text-cont {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ==== END ABOUT US ====*/

/* ==== OUT TEAM ====*/

.team {
  background-color: var(--team-color);
}

.team-list-container {
  width: 270px;
  min-height: 368px;
  background-color: var(--white-color);
  border-end-end-radius: 4px;
  border-end-start-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-header {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list-item-name,
.team-list-item-ocupation {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-item-name {
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-list-item-ocupation {
  color: var(--second-color);
  margin-bottom: 16px;
}

.team-soclial-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 18px;
}

.team-soclial-links-item-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.social-icons {
  display: flex;
}

.team-soclial-links-item-links:hover,
.team-soclial-links-item-links:focus {
  fill: var(--white-color);
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover,
.social-icons:focus {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==== END OUR TEAM ====*/

/*=====CLIENTS====*/
.client-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-list-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 94px;
}

.client-list-item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-list-item-logo:hover,
.client-list-item-logo:focus {
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*======END CLIENTS====*/

/* ==== BUTTONS ====*/

.buttons .container {
  display: flex;
  padding-top: 94px;
  justify-content: center;
  padding-bottom: 50px;
}
.buttons-list-item {
  display: inline-block;
}

.button-list-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;
}

.button-list-item-btn:hover,
.button-list-item-btn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 3px 0px rgba(184, 178, 178, 0.7);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(184, 178, 178, 0.7);
  -moz-box-shadow: 0px 3px 3px 0px rgba(184, 178, 178, 0.7);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==== END BUTTONS ==== */

/*==== PORTFOLIO ====*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;
}

.portfolio-list-container {
  cursor: pointer;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 3px 3px 3px 0px rgba(184, 178, 178, 0.7);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(184, 178, 178, 0.7);
  -moz-box-shadow: 3px 3px 3px 0px rgba(184, 178, 178, 0.7);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-container-description {
  margin-bottom: 30px;
  border-left: solid 1px rgba(238, 238, 238, 1);
  border-right: solid 1px rgba(238, 238, 238, 1);
  border-bottom: solid 1px rgba(238, 238, 238, 1);
}

.portfolio-list-item-name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-item-description {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay-container:hover .overlay {
  transform: translatey(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  display: block;
  width: 371px;
  height: 294px;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(101%);
  transition: transform 250ms ease;
}

.overlay-text {
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* ==== END PORTFOLIO ====*/

/* ==== FOOTER ==== */
.contact {
  background-color: var(--heroe-footer-color);
}

.contact .container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link-logo {
  color: var(--white-color);
}

.address-list-street,
.address-list-item-mail,
.address-list-item-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address-list-street {
  padding-top: 20px;
  padding-bottom: 9px;
  color: var(--white-color);
}

.address-list-item-tel {
  display: block;
  margin-top: 9px;
}

.address-list-item-mail,
.address-list-item-tel {
  color: rgba(255, 255, 255, 0.6);
}

.address-list-item-mail:hover,
.address-list-item-tel:hover {
  color: var(--hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .container {
  display: flex;
  align-items: flex-start;
}

.contact-right-side-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.contact-right-side {
  margin-left: 70px;
  padding-top: 15px;
}

.contact-soclial-links {
  display: flex;
}

.contact-soclial-links-item:not(:last-child) {
  margin-right: 10px;
}

.contact-soclial-links-item-links {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #474852;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
}

.contact-soclial-links-item-links:hover,
.contact-soclial-links-item-links:focus {
  fill: var(--white-color);
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right-side-newsletter {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
  padding-top: 15px;
}

.footer-right-side-newsletter-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-form-email {
  box-sizing: border-box;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  min-height: 50px;
  margin-left: 12px;
  padding-left: 42px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--hover-color);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-btn-icon {
  display: block;
  padding-left: 24px;
}

/* ==== END FOOTER ====*/

/* ==== MODAL WINDOW ====*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--white-color);
  box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.72);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn-img {
  width: 18px;
  height: 18px;

  margin: auto;
  fill: var(--logo-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: scale(1.25);
}
/* ===== END MODAL WINDOW ====*/

/*==== FORMS ====*/
.contact-form-container {
  /* position: relative; */
  display: block;
}

.form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  /* margin-bottom: 12px; */
  padding-bottom: 40px;
}

label {
  display: block;
}

.form-input-name,
.form-input-tel,
.form-input-email {
  box-sizing: border-box;
  padding-left: 42px;

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-input-name {
  text-transform: capitalize;
}

.form-input-name:focus,
.form-input-tel:focus,
.form-input-email:focus,
.form-input-textarea:focus {
  outline: none;
  border-color: var(--hover-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg color change after focus in input */
.form-input-name:focus + .form-icon-name,
.form-input-tel:focus + .form-icon-tel,
.form-input-email:focus + .form-icon-email {
  fill: var(--hover-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-name,
.form-label-tel,
.form-label-email {
  position: relative;
}

.form-icon-name {
  position: absolute;
  display: block;
  top: 30px;
  left: 12px;
}

.form-icon-tel {
  position: absolute;
  display: block;
  top: 30px;
  left: 12px;
}

.form-icon-email {
  position: absolute;
  display: block;
  top: 30px;
  left: 12px;
}

.contact-form-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 448px;
  height: 342px;
  margin: 0 auto;
}

.contact-form-container-text span {
  display: block;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 3px;
}

.contact-form-container-text input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}

.contact-form-container-text textarea {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
}

textarea[placeholder="Wprowadź tekst"] {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.contact-form-container-checkbox {
  position: relative;
  display: block;
  width: 448px;
  margin: 0 auto;
  padding-bottom: 40px;

  /* margin-top: 20px; */
  /* margin-bottom: 30px;
  margin-left: 55px; */
}

.form-label-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 20px;
  /* padding-left: 40px; */
  padding-bottom: 30px;
  margin-left: 35px;
}

.contact-form-container-checkbox a {
  color: rgba(33, 150, 243, 1);
}

.form-label-policy-text::before {
  position: absolute;
  top: 22px;
  left: 12px;

  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form-label-policy-check:checked + .form-label-policy-text::before {
  background-color: var(--hover-color);
  border-radius: 2px;
  border: 2px solid transparent;
  background-image: url("../images/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form-btn {
  display: flex;
  justify-content: center;
  width: 200px;
  min-height: 50px;
  padding: 10px 76px;
  margin: auto;
  /* margin-bottom: 40px;
  margin-left: 164px;
  margin-right: 164px; */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--hover-color);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*==== END FORMS ====*/
