.contact {
  background-color: var(--heroe-footer-color);

  .container {
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address__street {
  padding-top: 20px;
  padding-bottom: 9px;
  color: var(--white-color);
}

.address__tel--link {
  display: block;
  margin-top: 9px;
}

.address__mail--link,
.address__tel--link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:hover {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact--right-side {
  margin-left: 70px;
  padding-top: 15px;
}

.contact__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
  padding-top: 15px;

  &__text {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
  }
}