.contact-form-container {
  display: block;
}

.form__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  padding-bottom: 40px;
}

.form__label {
  display: block;
}

.form__label--position {
  position: relative;
}

.form__input {
  box-sizing: border-box;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    border-color: var(--hover-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* svg color change after focus in input */
  & + .form__icon {
      fill: var(--hover-color);
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
  }
}

.form__input--name {
  text-transform: capitalize;
}

.form__textarea {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;

  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;

  &:focus {
    outline: none;
    border-color: var(--hover-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form__icon  {
  position: absolute;
  display: block;
  top: 30px;
  left: 12px;
}

.form-container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 448px;
  height: 342px;
  margin: 0 auto;
}

.form__text {
  display: block;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 3px;
}

.form-container-checkbox {
  position: relative;
  display: block;
  width: 448px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.form__policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 35px;

  &::before {
  position: absolute;
  top: 22px;
  left: 12px;

  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid #212121;
  border-radius: 2px;
  }
}

.form__policy-text--accent {
  color: rgba(33, 150, 243, 1);
} 


.form__policy-check:checked + .form__policy-text::before {
  background-color: var(--hover-color);
  border-radius: 2px;
  border: 2px solid transparent;
  background-image: url("../images/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* newsletter form*/

.form__newsletter {
  box-sizing: border-box;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}