.logo-span {
  color: var(--hover-color);
}

.header-nav-logo,
.footer-link-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.header-nav-logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-link-logo {
  color: var(--white-color);
}